
/********************** FEUILLE DE STYLE LA DEDECHE.FR ********************************************/

#fluxRSS{
display:block;
width:100%;
position:relative;
}
#fluxRSSOffline
{
display:block;
width:100%;
position:relative;
}


